*{
  padding: 0;
  margin: 0;
  list-style: none;
}
.clearfix::after{
  content: "";
  clear: both;
  display: block;
}
.wrap{
  width: 1280px;
  margin:  0 auto;
  background: #f2f2f2;
}
.header{
  width:  100%;
  height: 100px;
  background: #171717;
}
.header .menu{
  float: left;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .menu .menus{
  float: left;
  display: block;
  width: 25%;
  text-align: center;
  color: #fafafa;
  padding: 20px 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
.header .menu .menus:hover{
  color: #b7bacb;
}

/* noticeZoon */

.noticeZoon{
  display: flex;
  width: 100%;
  border: 1px solid #171717;
  padding: 10px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  flex-direction: column;
}
.wordsZoon{
  width: 100%;
  display: block;
  line-height: 2;
  border: 1px solid #171717;
  box-sizing: border-box;
  padding: 5px;
}
.authorZoon{
  display: block;
  padding: 10px 0;
}
.deBtn{
  align-self: flex-end;
  width: 60px;
  display: block;
  padding: 5px;
  box-sizing: border-box;
  color: #171717;
  background: #abb333;
  border: 0;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* createnotice */
.wordsput{
  width: 100%;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.authorput{
  display: block;
  margin-bottom: 10px;
}
.addbtn{
  float: right;
  display: block;
  padding: 10px;
  border: 0;
  background: #bba333;
  font-weight: bold;
  color: #fafafa;
  cursor: pointer;
}
.alldeBtn{
  padding: 10px 20px;
  background: #333;
  color: #fafafa;
  border: 1px solid #fafafa;
  font-weight: bold;
  margin: 10px 0 30px 0;
  float: right;

}
.allch{
  padding: 10px 20px;
  background: #797979;
  color: #fafafa;
  border: 1px solid #fafafa;
  font-weight: bold;
  margin: 10px 0 30px 0;
  float: right;
}